/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/board.css
/public/css/home.css
/public/css/profile.css
/public/css/welcome.css
/public/js/app.js
/public/js/board.js
/public/js/comment.js
/public/js/profile.js
/public/js/ticket.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
