// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
@import "variables";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

//Navbar

#navbarNotConnected {
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to right, $secondary, $primary);
    padding: 0 50px;
    z-index: 1000;
    a {
        display: inline-block;
        margin: 10px;
        text-decoration: none;
        color: whitesmoke;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 1px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
    }
    .connectionBtn {
        border: 2px solid whitesmoke;
        border-radius: 5px;
        padding: 8px 22px;
    }
    .registerBtn {
        border: 2px solid $secondary;
        background-color: $secondary;
        border-radius: 5px;
        padding: 8px 22px;
    }
}

#navbar {
    position: sticky;
    top: 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, $secondary, $primary);
    z-index: 1000;
    padding: 0 20px;
    .logo {
        display: flex;
        align-items: center;
        height: 25px;
    }
    .linkToProfile {
        display: flex;
        align-items: center;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        img {
            height: 25px;
            width: 25px;
            margin-right: 10px;
            border-radius: 50%;
        }
    }
}

#navbarforRnC {
    position: sticky;
    top: 0;
    height: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, $secondary, $primary);
    padding: 0 20px;
}
