// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Variables
@import "variables";

//MAIN CONTAINER
.mainContainer {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    h2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
        line-height: 17px;
        letter-spacing: 0.05em;
    }

    //COLUMNS
    .columnContainer {
        flex-shrink: 0;
        margin: 24px;
        .columTitleDiv {
            background-color: rgb(119, 119, 119);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 18px;
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.allColumns {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    .columnContainer {
        width: 280px;
        border-radius: 4px;
        background-color: lightgray;
        .columnTitle {
            height: 24px;
            background-color: #777777;
            color: white;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

#modalContainer {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
    #removeConfirmationContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: white;
        margin: auto;
        padding: 48px 28px 28px 28px;
        width: 300px;
        height: 80px;
        border-radius: 4px;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        text-align: center;
        .modalButtons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            button {
                width: 80px;
                height: 30px;
                margin-top: 20px;
            }
        }
    }
}

//ADD LIST/COLOLUMN

#btnAddList,
#addColumn,
#newaddList {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 280px;
    height: 60px;
    border-radius: 4px;
    border-style: none;
    border-color: none;
    color: white;
}
#addColumn {
    margin: 24px;
}

//TICKETS

.ticketContainer {
    padding: 18px;
}
.boxTicket {
    border: 1px solid red;
}

.addComment {
    margin: 24px;
}

// COMMENTAIRES
#comment {
    width: 160px;
    height: 25px;
    border-radius: 4px;
    color: black;
    border: none;
    box-shadow: 0 0 4px 0px grey;
    cursor: pointer;

    &:hover {
        background-color: blue;
        color: white;
    }
}

//OTHERS

.displayNone {
    display: none;
}
