// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Variables
@import "variables";

//MAIN CONTAINER
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh-40px);
    h2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
        line-height: 17px;
        letter-spacing: 0.05em;
    }
    #inputupdateTitleBoard {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        line-height: 17px;
        letter-spacing: 0.05em;
        padding: 3px;
        outline: none;
        border: 2px solid rgb(180, 180, 180);
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.3);
        color: rgb(182, 182, 182);
    }

    //INVITER

    .topContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5vh 5vh 0;

        //SUPPRIMER TABLEAU
        .containerInviteDelete {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 300px;
            #divForInvite {
                position: absolute;
                top: 135px;
                right: 216px;
                height: 350px;
                width: 250px;
                background-color: white;
                border: 1px solid rgb(228, 228, 228);
                border-radius: 5px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                z-index: 1000;
                padding: 0 10px;
                span {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgb(228, 228, 228);
                    p {
                        color: rgb(53, 53, 53);
                        font-size: 14px;
                        margin: 10px 0 10px 45px;
                    }
                    #closeInvite {
                        border: none;
                        background-color: transparent;
                        font-weight: 700;
                        font-size: 1rem;
                        color: rgb(97, 97, 97);
                        cursor: pointer;
                        transition: 0.2s;
                        &:hover {
                            color: rgb(114, 75, 75);
                        }
                    }
                }
                #inputInvite {
                    padding: 7px;
                    border-radius: 5px;
                    border: 2px solid;
                    margin: 7px 0;
                    width: 100%;
                    font-size: 14px;
                    outline: none;
                }
                #usersToInvite {
                    div {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        border-radius: 5px;
                        transition: 0.2s;
                        &:hover {
                            background-color: rgba(241, 241, 241, 0.8);
                        }
                    }
                    img {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        margin-left: 5px;
                    }
                    label {
                        margin-left: 5px;
                        font-size: 0.9rem;
                        cursor: pointer;
                        padding: 10px 0;
                        width: 100%;
                    }
                    input[type="checkbox"] {
                        visibility: hidden;
                    }
                }
                #btnToInvite {
                    position: absolute;
                    bottom: 5px;
                    width: 93%;
                    padding: 7px;
                    border: none;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1.2px;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    &:disabled {
                        background-color: rgb(241, 241, 241);
                        color: rgb(144, 144, 144);
                        cursor: unset;
                    }
                }
            }
            #inviteContainer {
                #invite {
                    width: 100px;
                    height: 40px;
                    background-color: rgb(223, 223, 223);
                    border-style: none;
                    border-radius: 5px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    color: $black;
                    margin: 5px;
                    outline: none;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.05);
                        background-color: rgb(195, 195, 195);
                    }
                }
                #btnDisabled {
                    width: 100px;
                    height: 40px;
                    border-style: none;
                    border-radius: 5px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    margin: 5px;
                    outline: none;
                    background-color: rgb(241, 241, 241);
                    color: rgb(144, 144, 144);
                    &:hover {
                        transform: none;
                        background-color: rgb(241, 241, 241);
                    }
                }
            }
            #deleteTab {
                width: 100px;
                height: 40px;
                background-color: white;
                border-color: lightgray;
                border-style: solid;
                color: rgb(158, 158, 158);
                font-family: "Montserrat", sans-serif;
                margin: 5px;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05);
                    border-color: rgb(175, 174, 174);
                    color: rgb(175, 174, 174);
                }
            }
        }
    }

    .allColumns {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: auto;
        margin: 0vh calc(5vh - 24px);
        position: absolute;
        bottom: 0;
        height: 80vh;
        width: 95vw;
        //COLUMNS
        .columnContainer {
            flex-shrink: 0;
            margin: 24px;
            .columTitleDiv {
                background-color: rgb(119, 119, 119);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                height: 45px;
                display: flex;
                padding: 0 15px 0 18px;
                justify-content: space-between;
                align-items: center;
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .columnContainer {
        width: 300px;
        border-radius: 4px;
        background-color: lightgray;
        .columnTitle {
            height: 24px;
            width: 270px;
            color: white;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #plabelColumn {
                display: flex;
                align-items: center;
            }
            #updateLabelColumInput {
                padding: 5px;
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.3);
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 1.2px;
                color: white;
            }
        }
        #removeColumn {
            background-color: transparent;
            border-style: none;
            color: white;
            cursor: pointer;
        }

        #btnAddTicket {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 30px;
            border: none;
            background-color: #d3d3d3;
            color: rgb(87, 87, 87);
            font-weight: 500;
            font-size: 1rem;
            border-radius: 5px;
            margin-bottom: 5px;
            transition: 0.3s;
            padding: 5px;
            &:hover {
                background-color: #c2c2c2;
            }
            span {
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }
        #inputAddTicket {
            outline: none;
            width: 100%;
            height: 30px;
            border-color: rgb(29, 112, 180);
            border-style: solid;
            border-radius: 5px;
            margin: 0 0 5px;
        }

        #validateTicket {
            border-style: solid;
            border-color: transparent;
            border-radius: 5px;
            width: 90px;
            height: 25px;
            color: white;
            font-weight: 500;
            cursor: pointer;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        #closeTicket {
            border: none;
            background-color: #d3d3d3;
            font-size: 17px;
            color: rgb(85, 85, 85);
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
    }
}

#modalContainer,
#modalContainerTicket,
#modalContainerTAB {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
    #removeConfirmationContainer,
    #removeConfirmationContainerTAB {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: white;
        margin: auto;
        padding: 48px 28px 28px 28px;
        width: 300px;
        height: 80px;
        border-radius: 4px;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        text-align: center;
        .modalButtons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            button {
                width: 80px;
                height: 30px;
                margin-top: 20px;
            }
        }
    }
}
#modalContainerComment {
    position: fixed;
    z-index: 10;
    padding-top: 25vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    #containerComment {
        padding-bottom: 20px;
    }

    #removeConfirmationContainerComment {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: auto;
        width: 400px;
        height: auto;
        border-radius: 5px;
        overflow: auto;
        .titleTicketTop {
            .titleLeft {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
                margin: 0 10px;
                height: 50px;
                .titleTicket {
                    border-radius: 5px 5px 0 0;
                    font-size: 20px;
                    font-weight: 500;
                }
                #updateTitleTicket {
                    padding: 5px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.3);
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }
                #removeTicket {
                    background-color: rgba(255, 255, 255, 0.5);
                    border: none;
                    border-radius: 5px;
                    font-size: 0.9rem;
                    padding: 7px;
                    cursor: pointer;
                    color: white;
                    font-size: 1rem;
                    z-index: 1000;
                }
            }
            .cancelComment {
                border: none;
                color: white;
                font-size: 20px;
                height: 30px;
                width: 30px;
                cursor: pointer;

                &:hover {
                    color: rgb(209, 209, 209);
                    border-radius: 50%;
                }
            }
        }
        .titleColumnTop {
            display: flex;
            justify-content: space-between;
        }

        textarea {
            font-family: "Montserrat", sans-serif;
            resize: none;
            min-height: 50px;
            outline: none;
            font-family: "Montserrat", sans-serif;
        }
        #addComment {
            margin: 2.5% 2.5% 0;
            font-size: 1rem;
            border-radius: 5px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            padding: 7px;
            height: 70px;
            width: 95%;
        }
        #btnAddComment {
            margin: 4px 0 0 2.5%;
            border: none;
            border-radius: 5px 5px 5px 5px;
            color: white;
            height: 35px;
            width: 100px;
            font-size: 1rem;
            cursor: pointer;
        }
        .pictureComment {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 5px 2.5% 10px;
        }
        .userInformations {
            display: flex;
            margin-top: 5px;
            span {
                color: rgb(54, 54, 54);
                font-size: 0.9rem;
                font-weight: 600;
            }
            .contentComment {
                margin-top: 10px;
                p {
                    margin: 10px 5px;
                    border-left: solid 3px #c5c5c5be;
                    padding: 0 5px;
                    color: rgb(100, 100, 100);
                }
            }
        }
        #flexReverse {
            display: flex;
            flex-direction: column-reverse;
        }

        // .etiquettes {
        //     input {
        //         // visibility: hidden;
        //     }
        //     .ecolor {
        //         width: 30px;
        //         height: 30px;
        //     }
        //     .ecolor1 {
        //         background-color: #62bd50;
        //     }
        //     .ecolor2 {
        //         background-color: #f2d602;
        //     }
        //     .ecolor3 {
        //         background-color: #fda426;
        //     }
        //     .ecolor4 {
        //         background-color: #eb5b46;
        //     }
        //     .ecolor5 {
        //         background-color: #c278e0;
        //     }
        //     .ecolor6 {
        //         background-color: #007abf;
        //     }
        // }
    }
}

//ADD LIST/COLOLUMN

#btnAddList,
#addColumn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 300px;
    height: 45px;
    border-radius: 4px;
    border-style: none;
    border-color: none;
    color: white;
    cursor: pointer;
}
#addColumn {
    margin: 24px;
}

#newaddList {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 32px;
    width: 147.5px;
    border-radius: 4px;
    border-style: none;
    border-color: none;
    color: white;
    cursor: pointer;
    margin: 5px 0;
}
#newListInput {
    padding: 5px 10px;
    width: 300px;
    height: 45px;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    color: rgb(31, 31, 31);
}

#newListCXL {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 32px;
    width: 147.5px;
    padding: 7px 25px;
    border-radius: 4px;
    border-style: none;
    border-color: none;
    background-color: #d3d3d3;
    color: rgb(90, 90, 90);
    cursor: pointer;
    margin: 5px 0 0 5px;
}

//TICKETS

.ticketContainer {
    padding: 0px 12px;
    .ticketDropZone {
        height: 0;
        padding: 5px 0;
        width: 100%;
    }
}

.boxTicket {
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 0;
    color: rgb(44, 44, 44);
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 500;
    &:hover {
        background-color: rgb(245, 245, 245);
    }
    .ticket {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .taskTicket {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.3s;
            img {
                height: 17px;
                position: relative;
                left: 25px;
                opacity: 0;
            }
        }
        .cxlTicket {
            button {
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                opacity: 0;
                img {
                    height: 15px;
                }
            }
        }
    }
}

// COMMENTAIRES
#comment {
    width: 160px;
    height: 25px;
    border-radius: 4px;
    color: black;
    border: none;
    box-shadow: 0 0 4px 0px grey;
    cursor: pointer;

    &:hover {
        background-color: blue;
        color: white;
    }
}
#commentBackground {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

// Modal Content
#modalComment {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 550px;
    height: 200px;
}

#closeModalComment {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
    &:hover,
    &:focus {
        text-decoration: none;
        transform: scale(1.2);
        cursor: pointer;
        opacity: 0.6;
    }
}

.displayNone,
.displayNoneTicket {
    display: none;
}

// TEMPORAIRE - Bouton Pannel Admin
#btnPannel {
    color: red;
}

//Icone edition de titre
#editTitleIcon {
    position: absolute;
    height: 20px;
    left: 180px;
    opacity: 0.8;
}
.editColumnIcon {
    position: relative;
    height: 20px;
    left: 10px;
    opacity: 0.8;
}
