@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;

0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer h1 {
  padding: 32px 0px 24px;
  font-weight: 600;
  font-size: 25px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #a558c0;
}

.mainContainer .profileModificationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  background: linear-gradient(to right, #a558c0, #23b5b5);
  margin: auto;
}

.mainContainer .profileModificationForm .profileModificationFormIn {
  height: 490px;
  width: 590px;
  border-radius: 7px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer .profileModificationForm .profileModificationFormIn h2 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 30px;
  color: #292929;
}

.mainContainer .profileModificationForm .profileModificationFormIn label {
  color: #747474;
  padding: 5px 0;
}

.mainContainer .profileModificationForm .profileModificationFormIn input {
  outline: none;
  border: none;
  background-color: #e7e7e7;
  width: 450px;
  padding: 7px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.mainContainer .profileModificationForm .profileModificationFormIn #closeProfileModification {
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  color: #a558c0;
  align-self: flex-end;
  margin: 10px 30px 0;
}

.mainContainer .profileModificationForm .profileModificationFormIn button:not(#closeProfileModification) {
  margin-top: 10px;
  outline: none;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border: 2px solid #a558c0;
  background-color: #a558c0;
  border-radius: 5px;
  padding: 7px 0;
  width: 150px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: calc(590px / 2 - 150px);
}

.mainContainer .profileModificationForm .profileModificationFormIn button:not(#closeProfileModification):hover {
  transform: scale(1.05);
}

.mainContainer a {
  margin-top: 10px;
  outline: none;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border: 2px solid #a558c0;
  background-color: #a558c0;
  border-radius: 5px;
  padding: 7px 0;
  width: 150px;
  cursor: pointer;
  transition: 0.5s;
}

.mainContainer a:hover {
  transform: scale(1.05);
}

.mainContainer .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 600px;
  border-radius: 10px;
  background: linear-gradient(to right, #a558c0, #23b5b5);
  margin: auto;
}

.mainContainer .profile .profileIn {
  height: 470px;
  width: 590px;
  border-radius: 7px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer .profile .profileIn #profilePicture {
  margin-top: 8vh;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.mainContainer .profile .profileIn .bloc-infos {
  display: flex;
  flex-direction: row;
}

.mainContainer .profile .profileIn .bloc-infos .bloc-left {
  margin: 3vh 10px;
}

.mainContainer .profile .profileIn .bloc-infos .bloc-left p {
  color: #23b5b5;
  font-weight: 500;
}

.mainContainer .profile .profileIn .bloc-infos .bloc-right {
  margin: 3vh 10px;
  font-weight: 500;
}

.mainContainer .profile .profileIn #buttonProfileModification,
.mainContainer .profile .profileIn .dropdown-item {
  margin-top: 10px;
  outline: none;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border: 2px solid #a558c0;
  background-color: #a558c0;
  border-radius: 5px;
  padding: 7px 0;
  width: 150px;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

.mainContainer .profile .profileIn #buttonProfileModification:hover,
.mainContainer .profile .profileIn .dropdown-item:hover {
  transform: scale(1.05);
}

.mainContainer #grayBackground {
  height: 100vh;
  background-color: #00000062;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

#accessPannel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#accessPannel #btnPannel {
  opacity: 0;
  position: relative;
  top: 60px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid grey;
  color: #292929;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 7px;
  width: 150px;
  outline: none;
}

#accessPannel #btnPannel:hover {
  transform: scale(1.01);
  color: #a558c0;
  border: 1px solid #a558c0;
}

